<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="yaseen_gazebo_plugins">
    <gazebo>
      <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find yaseen_differential_robot)/config/gz_controllers.yaml</parameters>
      </plugin>
    </gazebo>
  </xacro:macro>

</robot>