<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="yaseen_gazebo_plugins">
    <gazebo>
      <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find yaseen_differential_robot)/config/gz_controllers.yaml</parameters>
      </plugin>
    </gazebo>
  </xacro:macro>

  <!-- Wheel friction (drive wheels) - Moderate realistic values -->
  <gazebo reference="wheel_left_link">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <kp>10000.0</kp>
    <kd>1.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>1.0</maxVel>
  </gazebo>

  <gazebo reference="wheel_right_link">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <kp>10000.0</kp>
    <kd>1.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>1.0</maxVel>
  </gazebo>

  <!-- Low friction casters - VERY low to not interfere -->
  <gazebo reference="caster_left_wheel_link">
    <mu1>0.0</mu1>
    <mu2>0.0</mu2>
  </gazebo>

  <gazebo reference="caster_wheel_right_link">
    <mu1>0.0</mu1>
    <mu2>0.0</mu2>
  </gazebo>

</robot>